@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,900,700);

body{
  font-family: "Lato", sans-serif;
  background-color: #FEC44F;
}

h1{
  font-weight: : 900;
  font-family: "Lato", sans-serif;
  color:#9A190F;
  font-size: 32px;
}

h2{
  font-weight: 700;
  color: #9A190F;
  font-size: 26px;
}

#salsa{
  width: 50%;
  padding:15px;
  box-sizing: border-box;
  float:left;
}

#tacos{
width: 50%;
padding:15px;
box-sizing: border-box;
float:left;
}

#salsa1{
  width: 50%;
  padding:15px;
  box-sizing: border-box;
  float:left;
}

#tacos1{
  width: 50%;
  padding:15px;
  box-sizing: border-box;
  float:left;
}

#link{
  width: 25%;
  padding:15px;
  box-sizing: border-box;
  float:left;
}
