@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,900,700);

body{
  font-family: "Lato", sans-serif;
  background-color: #FEC44F;
}

h1{
  font-weight: : 900;
  font-family: "Lato", sans-serif;
  color:#9A190F;
  font-size: 32px;
}

h2{
  font-weight: 700;
  color: #9A190F;
  font-size: 26px;
}
